fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose
passlib
pydantic
python-multipart
presidio-analyzer
presidio-anonymizer
spacy
pdfplumber
python-docx
paddleocr
paddlepaddle
Pillow
cryptography
openpyxl
xlrd
xlwt
PyMuPDF
python-dotenv
opencv-python
pyzbar
openai
transformers
torch
langchain
tqdm
